body {
  margin: 0;
  font-family: 'Domine', serif;
  font-weight: light;
  background-color: #130606;
  background-size: 1000px 900px;
  background-repeat: no-repeat;
}

#nav {
  text-align: right;
  font-family: 'Domine', serif;
  font-weight: light;
  color: #eee4e4
}

#index-img {
  padding-bottom: 20px;
}

#awesome-scissors {
  color: #c5b691;
}

#create-text, #select-text {
  text-align: center;
 }  

h4 {
  font-family: 'Domine', serif;
  font-weight: light;
  color: #eee4e4;
  display: inline-block;
  
}


form, h1, h2, h3, h5, a, em {
  font-family:'Domine', serif;
  font-weight: light;
  color: #eee4e4
}

#login-section {
 margin-left: -150px;

}

#new-account {
  font-family: 'Raleway', sans-serif;
  border-radius: 30px;
  background:#c5b691!important;
  padding: 20px;
  width: 200px;
  height: 300px;
}

#fname, #lname, #new-account-email, #new-account-password, #new-client-fname, #new-client-lname, #new-client-email {
  font-family: 'Raleway', sans-serif;
  width: 150px;
  margin-top: 10px;
  width: 150px;
  
  
} 

#login-form {
  border-radius: 15px;
  background:#c5b691!important;
  font-family: 'Raleway', sans-serif; 
  padding: 10px;
  width: 182px;
  height: 175px;
  margin
  
}
.em {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

#login-button, #new-account-btn  {
  color:whitesmoke;
  background-color:black;
  text-align: center;
}

#new-client-btn, #client-details-btn {
  margin-top: 10px;
  color:whitesmoke;
  background-color:black;
  text-align: center;
}

#user-email, #user-password {
  margin-top: 10px;
  width: 150px;
}

#user_compliments {
  font-family: 'Raleway', sans-serif;
  color: #eee4e4;
  text-align: center;
}

#create_client {
  font-family: 'Raleway', sans-serif;
  border-radius: 30px;
  background:#c5b691!important;
  padding: 20px;
  width: 200px;
  height: 200px; 
} 

#current_client {
  font-family: 'Raleway', sans-serif;
  border-radius: 30px;
  background:#c5b691!important;
  padding: 20px;
  width: 230px;
  height: 115px;
}

#new-clients {
  margin-top: -100;
  margin-bottom: 100px;
}

#appt-img {
  border-radius: 50%;
  max-width: 250px;
  max-height: 250px;;
}

#client-email, #technique {
  color: #c5b691!important;
  font-family: 'Raleway', sans-serif;
  
}

#homepage-img {
  box-shadow: transparent black;
}


