body {
  margin: 0;
  font-family: 'Domine', serif;
  font-weight: light;
  background-color: #130606;
  background-size: 1000px 900px;
  background-repeat: no-repeat;
}

#nav {
  text-align: right;
  font-family: 'Domine', serif;
  font-weight: light;
  color: #eee4e4
}

#index-img {
  padding-bottom: 20px;
}

#right, #left {
  margin-top: 20px;
}

#awesome-scissors, label {
  color: #c5b691;
}

#create-text, #select-text {
  text-align: center;
 }

#new-text, #reg-text {
  color: #c5b691;
}

h4 {
  font-family: 'Domine', serif;
  font-weight: light;
  color: #eee4e4;
  display: inline-block;
  
}


form, h1, h2, h3, h5, a, em {
  font-family:'Domine', serif;
  font-weight: light;
  color: #eee4e4
}

#login-section {
 margin-left: -150px;

}

#new-account {
  font-family: 'Raleway', sans-serif;
  border-radius: 30px;
  background:#c5b691!important;
  padding: 20px;
  width: 200px;
  height: 300px;
}

#fname, #lname, #new-account-email, #new-account-password, #new-client-fname, #new-client-lname, #new-client-email {
  font-family: 'Raleway', sans-serif;
  width: 150px;
  margin-top: 10px;
  width: 150px;
  
  
} 

#login-form {
  border-radius: 15px;
  background:#c5b691!important;
  font-family: 'Raleway', sans-serif; 
  padding: 10px;
  width: 182px;
  height: 175px;
  
}

.em {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

#login-button, #new-account-btn  {
  color:whitesmoke;
  background-color:black;
  text-align: center;
}

#new-client-btn, #client-details-btn {
  margin-top: 10px;
  color:whitesmoke;
  background-color:black;
  text-align: center;
}

#user-email, #user-password {
  margin-top: 10px;
  width: 150px;
}

#user_compliments {
  font-family: 'Raleway', sans-serif;
  color: #eee4e4;
  text-align: center;
}

#create_client {
  font-family: 'Raleway', sans-serif;
  border-radius: 30px;
  background:#c5b691!important;
  padding: 20px;
  width: 200px;
  height: 200px; 
} 

#current_client {
  font-family: 'Raleway', sans-serif;
  border-radius: 30px;
  background:#c5b691!important;
  padding: 20px;
  width: 230px;
  height: 115px;
}

#new-clients {
  margin-top: -100;
  margin-bottom: 100px;
}

#appt-img {
  border-radius: 50%;
  max-width: 500px;
  max-height: 500px;
  margin-top: 20px;
  margin-left: 100px;
}

#appt-date {
  margin-top: 20px;
  margin-left: 200px;
}

#client-name {
 margin-top: 100px;
 margin-left: 0;
 text-align: center;
 /* padding: 20px; */
 width: 600px;
 height: 100px;
}

#client-name-icon {
  margin-top: 10px;
  margin-left: -40px;
}

#date {
  margin-top: 20px;
  margin-left: 50px;
}
#technique {
  margin-left: 50px;
}

#service-text, #service-id, #product-text, #product-id {
  margin-left: 150px;
}

#service-text  {
  margin-left: 125px;
}

#product-text {
  margin-left: 130px;
}
#heart {
  margin-left: 100px;
  margin-top: 20px;
}

#card-personal {
  margin-left: 100px;
  border-radius: 25%;
}

#client-email, #technique {
  color: #c5b691!important;
  font-family: 'Raleway', sans-serif;
  
}

#homepage-img {
  box-shadow: transparent black;
  
}

#img-credit-notes {
  font-family: 'Raleway', sans-serif;
  margin-left: 300px;
  color:rgb(128, 124, 115)
}

#notes-btn {
  margin-bottom: 10px;
}

#img-cred-index {
  margin-top: -50px;
  color:rgb(128, 124, 115)
}

#img-cred-homepage {
  margin-top: -25px;
  color: rgb(185, 181, 181);
  margin-left: 150px;
}

#img-credit-profile {
  margin-bottom: 50px;
  color: rgb(185, 181, 181);
}


#headsheet {
  max-width: 150px;
  max-height: 150px;
  background-color:#c5b691;
  margin-left: 50px;
  border-radius: 50%;
}

#card-r, #card-l, #card-personal {
  background-color:#c5b691;
  font-family: 'Raleway', sans-serif;

  
}

#card-r{
  margin-left: 100px;
  border-radius: 15%;
  width: auto;
}

#back-panels{
  margin-right: 10px;
}

#card-l {
 margin-left: 100px;
 border-radius: 15%;
}

#card-title {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: black
}
#appt-created {
  margin-left: 400px;
}

#appt-created {
  margin-bottom: 200px;
  margin-left: 150px;
  padding: 20px;
}

#img-file {
  width: 400px;
  margin-left: 700px;
}

#services {
  width: 75%
}
#service-intro, #users-intro {
  margin-left: 250px;
}

#upload-text {
  margin-left: 700px; 
}

#new-client-email-rmdr {
  padding: 5px;
  text-align: center;
 

}
#new-client-email-card {
 margin-left: 50px;
 
 width: 350px
}
#new-client-email-card, #card-new, #card-reg {
  background-color: #c5b691;
  color: black
}

#card-reg {
  margin-right: -150px;
}




