<!doctype html>
<html>
  <head>
    <title>
      {% block title %}New appointment record{% endblock %}
    </title>
    {% block head %}{% endblock %}
    
  </head>
<h3>Hello {{ user_fname }} {{ user_lname }}, 
  <i class="fas fa-book-dead"></i>
  <span class="fas fa-book-dead"></span>
</h3>
  
    <a href="/user_prof">Stylist Black Book</a>
  
    <div><h5>Way to go, you have {{ num_repeat }} regulars</h5></div>
    <div><h5>And {{ num_new }} new clients!</div></h5>
    <div> Regulars:
      <form id="appt-rec-user" action="/clients_by_user" method="GET">
        <select name="client">
          {% for client in user_clients %}
            <option value={{client}}> 
              {{ client.fname }} {{client.lname}} 
            </option>
          {% endfor %}
        </select>
      
    </form>
    New:
    <form id="appt-rec-user" action="/clients_by_user" method="GET">
      <select name="client">
        {% for client in new_clients %}
          <option value={{client}}> 
            {{ client.fname }} {{client.lname}} 
          </option>
        {% endfor %}
      </select>
    
  </form>
  </div>

    
</h3>


  <h3> Select your client: </h3> 
  <div>
    <form id="current_client" action="/clients" method="GET">
      <select name="client">
        {% for client in clients %}
          <option value={{client.client_id}}> 
            {{ client.fname }} {{ client.lname }} 
          </option>
        {% endfor %}
      </select>
      <input value="Previous appointments" type="submit">
    </form>

  </div>
      <form id="create_client" action="/create_client" method="POST">
        <p>
          <div>First name: <input type="text" name="fname"></div>
          <div>Last name: <input type="text" name="lname"> </div>
          <div>Email: <input type="text" name="email"></div>
          <input value="Add" type="submit">
        </p>
      </form>
    
    <form action="/logout" method="post">
      <input id="logout" value="Log out" type="submit">
    </form>
     

 
  

    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}
  </body>
</html>
