{% extends 'base.html' %}

{% block title %}  Client Details {% endblock %}

{% block body %}

<h1> {{ client.fname }} {{ client.lname }} </h1>
  <h3>Email: {{client.email}}</h3>  
  <ul>
    <li>
      <p>
        {% for appt_rec_object in client.client_appt %}

        <h3>Technique:</h3>

        <h4> Back panels </h4>
        <div>{{ appt_rec_object.back_panels }}
             {{ appt_rec_object.tools_used }}
        </div>
        <h4> Right panel </h4>
        <div>{{ appt_rec_object.right_panel }}
             {{ appt_rec_object.tools_used }} 
        </div>
        <h4> Left panel </h4>
        <div>{{ appt_rec_object.left_panel }}
             {{ appt_rec_object.tools_used }}
        </div> 
        <h4> Top panel </h4>
        <div>{{ appt_rec_object.top_panel }}
             {{ appt_rec_object.tools_used }}
        </div>
        <h4> Front panel </h4>
        <div>{{ appt_rec_object.front_panel }}</div>
             {{ appt_rec_object.tools_used }}
             
        <h4> Personal notes </h4>
        <div>{{ appt_rec_object.personal_notes }}</div>
          
      
        
        {% endfor %}
          
      <a href="/add_new_rec">Create new appointment notes</a>  
      </p>
    </li>      
  </ul>
  

 {% endblock %}

 {% block after_body %}{% endblock %}
  </body>   
</html>

   
     
    



