{% extends 'base.html' %}
{% block title %}Retame Login{% endblock %}
<head>
  
</head>
{% block body %}
  <h1>Retame <span class="fas fa-cut"></span></h1>
    <h2>Welcome!</h2>
      <ul>
        <li><a href="/services">View all Services</a></li>
      </ul>
  

  <h2>Create an Account</h2>
    <form action="/create_users" method="post" id='new-account'>
      <p>
        First name <input type="text" name="fname" id="fname">
        Last name <input type="text" name="lname" id="lname">
      </p>
        <p>
          Email <input type="text" name="email" id="new-account-email">
        </p>
          <p> 
            Password <input type="password" name="password" id="new-account-password">
          </p>
        <input value="Submit" type="submit">
      </p>
    </form>
  <h2> Already a User? </h2>
    <p> 
      <em>log in</em>
        <form action="/login" method="post" id="user-login" class="login">
          Email <input type="text" name="email" id="user-email">
          </p>
            <p>
              Password <input type="password" name="password" id="user-password">
            </p>
          <p>
        <input value="Log in" type="submit" class="login">
      </form>
    </p>

{% endblock %}
{% block javascript %}

<script src="/static/js/account_created.js"></script>
<script src="/static/js/login.js"></script>

{% endblock %}

