{% extends 'base.html' %}
{% block title %}Retame Login{% endblock %}
<head>
  
</head>
<div class="container"> 
{% block body %}
<nav class="navbar navbar-light bg-light">
    <h3>Ret<span class="fas fa-cut fa-rotate-90"></span>me <width="30" height="30" alt="Retame"></h3>
  </a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/services">Services</a>
      </div>
  </div>
</nav>
</nav>
  
    <h2>Welcome!</h2>
  

  <h2>Create an Account</h2>
    <form action="/create_users" method="post" id='new-account'>
      <p>
        First name <input type="text" name="fname" id="fname">
        Last name <input type="text" name="lname" id="lname">
      </p>
        <p>
          Email <input type="text" name="email" id="new-account-email">
        </p>
          <p> 
            Password <input type="password" name="password"  id="new-account-password">
          </p>
        <input value="Submit" type="submit">
      </p>
    </form>
  <h2> Already a User? </h2>
    <p> 
      <em>log in</em>
        <form action="/login" method="post" class="login">
          Email <input type="text" name="email" id="user-email">
          Password <input type="password" name="password" id="user-password">
          <input value="Log in" type="submit"  class="btn btn-secondary" color="white" id="login-button">
        </form>
    </p>
</div>
{% endblock %}
{% block javascript %}
<script src="/static/js/login.js"></script>
<script src="/static/js/account_created.js"></script>



{% endblock %}

