{% extends 'base.html' %}
<html>
    <head>
        <title>
          {% block title %}New appointment record{% endblock %}
        </title>
    </head>
{% block body %}
<h2>New service notes for {{ client.fname }} {{ client.lname }}</h2>
<h4> logged in: {{ user.fname }} {{ user.lname }}</h4>
<body>
  
    <span>
      <form action="/create_new_appointment_rec" id="appt-created" method="POST" enctype="multipart/form-data">
        <h3><input type="date" name="date" required pattern="\d{4}-\d{2}-\d{2}" id="appt-date"></h3>
        
        <select name="services" id="service-id">
          {% for service in services %}
            <option value={{service.service_id}}> 
            {{ service.service_name }} 
          </option>
          {% endfor %}
        </select>
      <div>
        <select name="products" id="product-id">
          {% for product in products %}
            <option value={{product.product_id}}> 
            {{ product.product_name }} 
          </option>
          {% endfor %}
        </select>
      </div>

        <img src="/static/headsheets/headsheet4.png" width="100" height="100">
            <label>Back panels</label>
              <div><textarea name="back_panels" id="back-panels"></textarea></div>
                <select name="tools_used" id="tools-used">
                    <option value="clippers">Clippers</option>
                    <option value="Shears">Shears</option>
                    <option value="thinning_shears">Thinning shears</option>
                    <option value="razor">Razor</option>
                    <option value="straight_blade">Straight blade</option>
                    <option value="trimmer">Trimmers</option>
                    <option value="texture_shears">Texture shears</option>
                </select>

            </span>
      <div> 
        <img src="/static/headsheets/headsheet3.png" width="100" height="100">
          <label>Right side panel</label>
        <div><textarea name="right_side" id="right-panel"></textarea></div>
            <select name="tools_used" id="tools-used">
                <option value="clippers">Clippers</option>
                <option value="Shears">Shears</option>
                <option value="thinning_shears">Thinning shears</option>
                <option value="razor">Razor</option>
                <option value="straight_blade">Straight blade</option>
                <option value="trimmer">Trimmers</option>
                <option value="texture_shears">Texture shears</option>
            </select>
      </div>
    <div>
      <img src="/static/headsheets/headsheet2.png" width="100" height="100">
          <label> Left side panel</label>
            <div><textarea name="left_side" id="left-panel"></textarea></div>
                <select name="tools_used" id="tools-used">
                    <option value="clippers">Clippers</option>
                    <option value="Shears">Shears</option>
                    <option value="thinning_shears">Thinning shears</option>
                    <option value="razor">Razor</option>
                    <option value="straight_blade">Straight blade</option>
                    <option value="trimmer">Trimmers</option>
                    <option value="texture_shears">Texture shears</option>
                </select>
            </div>
        <div>
      <img src="/static/headsheets/headsheet5.png" width="100" height="100">
        <label>Mohawk top panel</label>
          <div><textarea name="top_section" id="top-panel"></textarea></div>
            <select name="tools_used" id="tools-used">
                <option value="clippers">Clippers</option>
                <option value="Shears">Shears</option>
                <option value="thinning_shears">Thinning shears</option>
                <option value="razor">Razor</option>
                <option value="straight_blade">Straight blade</option>
                <option value="trimmer">Trimmers</option>
                <option value="texture_shears">Texture shears</option>
            </select>
        </div>
      <div>
        <img src="/static/headsheets/headsheet1.png" width="100" height="100">
          <label>Front panel - fringe</label>
            <div><textarea name="front_section" id="front-panel"></textarea></div>
                <select name="tools_used" id="tools-used">
                    <option value="clippers">Clippers</option>
                    <option value="Shears">Shears</option>
                    <option value="thinning_shears">Thinning shears</option>
                    <option value="razor">Razor</option>
                    <option value="straight_blade">Straight blade</option>
                    <option value="trimmer">Trimmers</option>
                    <option value="texture_shears">Texture shears</option>
                </select>

      <div>
        <label>Peronal client deets to remember:</label>
          <div><textarea name="personal_info" id="personal-notes"></textarea></div>
        </div>
        <div><input type="file" name="file" action="/create_img" value='upload' id="img-path"></div>
        
          <button type="submit" action="/create_new_appointment_rec" id="appt-created">Submit appointment</button>
      </form>
    </div>
  
{% endblock %}
    </body>
  {% block javascript %}
    <script src="/static/js/appointment_created.js"></script>
  {% endblock %}
  </html>