{% extends 'base.html' %}
<head>
    {% block title %}New appointment record{% endblock %}
</head>

{% block body %}
<div class="container"> 
  <div class="row">
    
    <ul class="nav justify-content-left" id="nav">
      <li class="nav-item" id="nav">
        <a class="nav-link" href="/" id="nav"><span class="fas fa-cut fa-rotate-90"></span> Retame</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about" id="nav"><span class="fas fa-book"></span> About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/services" tabindex="-1" id="nav"><span class="fas fa-air-freshener"></span> Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user_prof" tabindex="-1" id="nav"><span class="fas fa-book-dead"></span> {{user.fname}}'s client data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" action="/logout" href="/logout" method="POST" tabindex="-1" id="nav">Log out</a>
      </li>
    </ul>
  </header>
</nav>
<div class="container" id="homepage-intro">
  <div class="row">
    <div class="col-4">
      <h3 id="create">Create new client:</h3>
      <form id="create_client" action="/create_client" method="POST">
          <div><input type="text" name="fname" placeholder="First name" id="new-client-fname"></div>
          <div><input type="text" name="lname" placeholder="Last name" id="new-client-lname"></div>
          <div><input type="text" name="email" placeholder="Email" id="new-client-email"></div>
          <input value="Add" type="submit" id="new-client-btn">
      </form>
      <h3 id="Select">Select your client: </h3>
      <div>
        <form id="current_client" action="/clients" method="GET">
          <select name="client">
            {% for client in clients %}
              <option value={{client.client_id}}> 
                {{ client.fname }} {{ client.lname }} 
              </option>
            {% endfor %}
          </select>
          <input value="Previous appointments" type="submit" id="client-details-btn">
        </form> 
      </div>
    </div>
  <div class="col-6"id="homepage-img">
        <img src=/static/img/salon-2589649_1280.jpg style="width:600px;height:400px;" id="homepage-img">
          <div id="user_greeting"><h3>Hello {{ user.fname }} {{ user.lname }},</h3>
            <div id="user_compliments"><h6>Way to go, you have {{ num_reg }} regulars</h6>
              <div id="user_compliments"><h6>And {{ num_new }} new clients!</h6>
                <div id="new-reg-dd">
                  <h3 id="new-reg-dd">Regulars:</h3>
                  <form id="repeating-clients" method="GET">
                    <select name="client">
                      {% for client in user_clients %} 
                        <option value={{client}}> 
                        {{ client.fname }} {{client.lname}} 
                        </option>
                    {% endfor %}
                    </select>
                  </form>
              <h3 id="new-reg-dd">New:</h3>
              <form id="new-clients" method="GET">
                <select name="client">
                  {% for client in new_clients %}
                    <option value={{client}}> 
                      {{ client.fname }} {{client.lname}} 
                    </option>
                  {% endfor %}
                </select>
              </form>
            </div>
            </div>
          </div>
        </div>
      </div>
      
   
  
   
    <div>
      <form action="/logout" method="POST" class="logout">
        <input id="logout" value="Log out" type="submit">
      </form>
    </div>
     

{% endblock %}



{% block javascript %}
  <script src="/static/js/login.js"></script>  
  <!-- <script src="/static/js/dataList.js"></script> -->
{% endblock %}


