{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block body %}
  <span>
    <h1>Retame <i class="fas fa-cut"></i> <h4>{{user.fname}} {{user.lname}}</h4></h1>
  </span>

  <h4>Your most consistent client is {{ max_key }}. </h4>

  <div> Regulars:
    <form id="appt-rec-user" action="/user_prof" method="GET">
      <select name="repeat-client">
        {% for key, value in visits_dict.items() %}
          <option value={{key,value}}> 
            <dt> {{ key }}, </dt>
            <dd> total visits: {{ value }}</dd>
          </option>
        {% endfor %}
      </select>
    
  </form><br>
  New:
  <form id="users-new-clients" action="/user_prof" method="GET">
    <select name="new-client">
      {% for client in new_clients %}
        {% if client == client %}
        <option value={{client}}> 
          {{ client }}
          {% endif %}
        </option>
      {% endfor %}
    </select>
  
</form><br>
<div>
  <ul>
    <li>
      {% for client in email %}
        <i class="far fa-envelope"></i>
        {{client}}
      {% endfor %}
    </li>
  </ul> 
</div><br>
<div>
Send your new clients a little thank you and
 friendly reminder to book their next hair service!
</div>



 


  

{% endblock %}