{% extends 'base.html' %}
{% block title %}{% endblock %}


{% block body %}
<nav class="navbar navbar-light bg-light">
  <h3>Retame<span class="fas fa-cut fa-rotate-90"></span> <width="30" height="30" alt="Retame"></h3>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav">
    <a class="nav-item nav-link active" href="/user_homepage">Homepage <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="/services">Services</a>
    <a class="nav-item nav-link" href="/logout">logout</a>
  </div>
</div>
</nav>
</nav>
  <span>
    <h1>Retame <i class="fas fa-cut"></i> <h4>{{user.fname}} {{user.lname}}</h4></h1>
  </span>

  <h4>Your most consistent client is {{ max_key }}. </h4>

  <div> Regulars:
    <form id="appt-rec-user" action="/user_prof" method="GET">
      <select name="repeat-client">
        {% for key, value in visits_dict.items() %}
          <option value={{key,value}}> 
            <dt> {{ key }}, </dt>
            <dd> total visits: {{ value }}</dd>
          </option>
        {% endfor %}
      </select>
    
  </form><br>
  New:
  <form id="users-new-clients" action="/user_prof" method="GET">
    <select name="new-client">
      {% for client in new_clients %}
        {% if client == client %}
        <option value={{client}}>
          {{ client }}
          {% endif %}
        </option>
      {% endfor %}
    </select>
  
</form><br>
<div>
Send your new clients a little thank you and
 friendly reminder to book their next hair service!
  <ul>
    <li>
      {% for client in email %}
        <i class="far fa-envelope"></i>
        <a href="mailto:">{{client}}</a>  
      {% endfor %}
    </li>
  </ul> 
</div><br>
<div>

</div>



 


  

{% endblock %}